@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap);body{font-family:Poppins,sans-serif!important;background-color: #1a5798!important;}.container{background-color:#0056b2;display:flex;align-items:center;padding:0!important;justify-content:center}.container .cleanBg{background-image:url(../img/bg-clean.jpg)!important}.container .mobcontainer{width:100%;max-width:768px;height:100%;min-height:100vh;background-image:url(../img/background.jpg);background-size:cover;background-repeat:no-repeat;background-position:center center;padding-bottom:30px}.container .mobcontainer a.logo{display:flex;align-items:center;justify-content:center;height:30vh}.container .mobcontainer a.logo img.logoImg{width:100%;max-width:200px}.container .mobcontainer img.tagline{width:100%;max-width:370px;margin:0 auto;display:block}.checkboxs{margin-bottom:14px!important}a.button{display:inline-block;background:#0048a6;padding:10px 70px;font-size:18px;font-weight:700;color:#fff!important;text-decoration:none!important;border-radius:6px}.coentercontent{flex:1;display:flex;align-items:center;justify-content:center;padding:40px}.cardBoxAuth{background:#ffffffb8;padding:30px;display:flex;flex-direction:column;align-items:center;justify-content:center;text-align:center;border-radius:16px;-webkit-backdrop-filter:blur(6px);backdrop-filter:blur(6px);box-shadow:0 40px 60px #00000008}h5.heading{color:#0056b2;margin:0 0 20px}.inline{margin-top:20px;margin-bottom:0}.inline a{font-weight:800;color:#0048a7;font-size:14px}.inline span{font-size:14px}.mobcontainer.spacingTop{padding-top:100px}.header{position:absolute;top:0;display:flex;flex-direction:row;width:100vw;padding:30px 20px}.header img.logonav{width:100%;max-width:80px}.header .menu{flex:1}.formBox{background:#ffffffc7;margin:0 24px;padding:24px;display:flex;border-radius:20px;-webkit-backdrop-filter:blur(4px);backdrop-filter:blur(4px);flex-direction:column;overflow:hidden}.formBox form{width:100%}.headBox{margin:-24px -24px 24px -24px;display:flex;flex-direction:row;background:#cbd9e6;background:linear-gradient(to bottom,#cbd9e6 0,#bec8d6 100%)}.headBox a{flex:1;text-align:center;padding:20px;font-weight:700;color:#fff;font-size:18px;display:flex;flex-direction:row;align-items:center;justify-content:center}.headBox a img{height:23px;margin-right:12px}.headBox a.active{background:#e3edf5;border-top-right-radius:20px;border-top-left-radius:20px;color:#064da9}.group{display:flex;flex-direction:column;margin-bottom:16px;width:100%;position:relative}.group img{position:absolute;right:14px;bottom:14px}.group label{color:#0048a6;font-weight:600;font-size:16px;margin-bottom:6px}.group input{flex:1;width:100%;box-sizing:border-box;padding:12px;border-radius:5px;font-size:14px}.group select{flex:1;width:100%;box-sizing:border-box;padding:12px;border-radius:5px;font-size:14px}.maincontainer{display:flex;align-items:center;justify-content:center;flex-direction:column;height:calc(100vh - 106px)}.maincontainer img.how{width:100%;max-width:380px}.maincontainer h4.smallheading{color:#fff;font-weight:600;margin-bottom:30px;font-size:22px}img.ready{width:100%;max-width:250px;margin-bottom:50px}img.dobbeter{width:100%;max-width:360px}img.heading{width:100%;max-width:140px}.boxcard{display:flex;flex-direction:column;margin:15px 40px 40px;width:300px;background:#ffffffde;padding:30px 20px;align-items:center;justify-content:center;border-radius:14px;-webkit-backdrop-filter:blur(3px);backdrop-filter:blur(3px)}.boxcard a{font-size:12px;width:100%;max-width:200px;padding:16px;text-align:center;margin-top:10px}.boxcard img{width:100%;max-width:200px;margin:20px 0}.boxcard h5{font-style:normal;font-weight:700;font-size:16px;line-height:150%;color:#0048a7}.maincontainer.top-flex{justify-content:flex-start;padding:0 15px;min-height:calc(100vh - 106px);height:100%!important}.menu svg{width:32px}.tabs{display:flex;background:#0056b2;width:100%;margin:20px 0 0;padding:14px;color:#fff;border-radius:20px;box-shadow:0 20px 40px #00000024}.tabs .itemTabs h3{margin:4px 0 0;font-size:20px}.tabs .itemTabs.active{background:#ffffff3d;border-radius:12px}.tabs .itemTabs h4{font-size:11px;margin-bottom:0!important;opacity:.6}.tabs .itemTabs{width:33.3%;text-align:center;padding:10px;position:relative}.tabs .itemTabs a{position:absolute;z-index:1;display:block;width:100%;height:100%;top:0;left:0}img.top-img{margin-bottom:-17px!important;margin-top:10px!important;text-align:center;display:block;margin:0 auto}.pp{position:relative;width:110px;margin:0 auto}.pp img{width:100%}.pp img.frame{position:absolute;z-index:1}.pp a.addpp{width:100%;max-width:30px;display:block;position:absolute;z-index:3;right:0;top:6px}.pp img.pp{transform:scale(.9)}.contentBox{background:#cfdaea;border-radius:20px;overflow:hidden;padding:20px;position:relative;width:100%;margin-top:16px}.contentBox table{width:100%}.contentBox table tr{border-radius:30px;overflow:hidden;margin-bottom:10px}.contentBox table th{background:#678db5;color:#fff;font-size:10px;padding:9px;width:100%;text-align:center}.contentBox table td{background:#fff;color:#333;font-size:10px;padding:9px;width:100%;text-align:center}.contentBox select{position:absolute;right:20px;padding:8px;border-radius:5px;font-weight:500}.contentBox h3{text-align:center;margin-top:60px;display:block;font-size:18px;line-height:26px;font-weight:600;color:#fff}.contentBox h3 span{color:#0056b3}p.disclaiomer{margin:10px;text-align:center;font-size:12px}h3.title{margin:0 0 12px;text-align:left}.start{border-bottom-left-radius:10px;border-top-left-radius:10px}.end{border-bottom-right-radius:10px;border-top-right-radius:10px}.points{display:flex;align-items:center;justify-content:center;position:relative;width:100%;margin-top:30px}.points .labelCircle{position:absolute}.points .labelCircle h3{margin:0;font-size:28px;color:#0056b3}.points .labelCircle h3.numberLabel{font-size:16px!important;font-weight:400}.inlineCard{display:flex;margin-top:30px}.cardItem{background:#fff;flex:1;margin:0 6px;padding:20px;position:relative;border-radius:10px}.cardItem .svg{position:absolute;top:20px;right:20px}.cardItem h1{margin:0;color:#8d8d8d}.cardItem h4{font-size:12px;margin:10px 0 0;color:#8d8d8d}.cardItem.dark h4{color:#fff}.cardItem.dark h1{color:#fff}.cardItem.dark{background:#678db5}h3.username{color:#fff}a.back{position:absolute;left:20px}.leader h3{color:#333;margin:0;width:30px;height:30px;border:1px solid #cacaca;border-radius:50%;display:flex;align-items:center;justify-content:center;font-size:16px;margin-right:16px}.leader{background:#fff;display:flex;flex-direction:row;align-items:center;padding:16px;border-radius:16px;margin-bottom:12px}.leader img{border-radius:50%;width:70px;margin-right:15px}.info{display:flex;flex-direction:column;justify-content:center}.info p{opacity:.6;margin:0}.info h2{margin:0 0 4px;font-size:16px}.leader.active{background:#0056b3;box-shadow:0 30px 40px #00000029;position:relative;color:#fff!important}.leader.active h3{color:#fff}h3.checkpoints{margin:20px;color:#025ab9;font-size:20px}.contentBox .button{text-align:center;width:100%;padding:14px 0;margin-bottom:7px;border-radius:8px}.bgs{background:url(../img/bg-box.png);background-size:cover}img.success-badge{margin:0 auto;width:180px;display:block}.contentBox.bgs input{display:inline-block;background:#678db5;font-size:18px;font-weight:700;color:#fff;text-align:center;width:100%;padding:14px 0;margin-bottom:7px;border-radius:8px}a.button.inline-btn svg{margin-right:8px}a.button.inline-btn{display:flex;justify-content:center;align-items:center}a.next{position:absolute;right:30px;transform:rotate(180deg)!important}h3.rewardtitle{margin:0 0 30px;color:#0048a7}.cardGrid{display:flex;flex-direction:row;flex-wrap:wrap;margin-bottom:10px}.cardItemBox{width:50%}.cardInner{background:#fff;padding:20px;margin:4px;border-radius:14px;position:relative;min-height:166px;display:flex;flex-direction:column}.cardInner h4.number{position:absolute;top:14px;margin:0;left:14px;font-weight:600;opacity:.5;font-size:28px}.cardInner .imgContainer{flex:1}.cardInner p{margin:0;font-size:12px;text-align:center}.cardInner img{flex:1;width:100%;margin-bottom:12px;margin-top:16px}h3.titleoutside{color:#fff;font-weight:500}.contentBox.light{padding:30px;background:#fff}h3.yourpoints{margin:0 0 15px;text-align:center;color:#fff;font-weight:700;font-size:28px}h3.yourpoints span{font-size:80px}img.blast{width:calc(100% - 50px)}a.inlinelink{display:block;margin:10px 0;font-size:18px;font-weight:500}.inlineBox{display:flex;margin-bottom:20px}input.iconLeft{padding-left:40px}img.iconform{left:12px}label#checkPass{position:absolute;right:12px!important;bottom:-2px!important}label#checkPass input{visibility:hidden;height:0!important}label#checkPass img{position:unset!important}

/* add on css */
.mb-0 {
    margin-bottom: 0;
}
.mt-2 {
    margin-top: 20px;
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-15px);
	}
	100% {
		transform: translatey(0px);
	}
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  35%, 45%, 55%, 65% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 50%, 60% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  65% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.tagline {
    transform: translatey(0px);
	animation: tada 3s infinite;
    animation-delay: 2s;
}
.ready {
    animation: tada 3s infinite;
    animation-delay: 1s;
}
.points canvas {
    transform: rotate(-90deg);
}
h3.username {
    font-size: 18px;
    text-shadow: 0px 2px 2px rgba(0,0,0,0.3);
}
.count-point-container {
    margin-top: 85px;
    display: block;
}
#screaming-container {
    display: block;
    width: 100%;
    text-align: center;
}